<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
    <style>
        footer{
            background-color: #f5f5f5;
        }

        #warn{

        color: gray;
        font-size: small;
        padding: 15px;

        max-width: 600px;
        /* width: 100%; */
        margin: 0 auto;
        }
    </style>
</head>
<body>
    
    <div style="padding:10px;color:gray">
        <p>{{ body | safe }}</p>
        <p>Best Regards<br>
        Placement Cell<br>
        placementcelladmin@gmail.com</p>
    </div>
    <footer>
    <div id="warn">
      <p>
        Report harassment: Our Team is committed to ensure that everyone is equally valued and treats one another with respect. All complaints of bullying or harassment will be taken seriouly and will be dealt with quickly and with respect for all people involved. Learners may write to this email id <b>placementcelladmin@gmail.com</b> which will be considered as a formal complaint. We will make reasonable and appropriate efforts to preserve an individual's privacy and protect the confidentiality of information.
      </p>
    </div>
    <p style="max-width: 600px;  margin:0 auto; color: gray; padding: 15px;"> All rights reserved &copy;,2026</p>
  </footer>
</body>
</html>
